# {{ ansible_managed }}

*filter

:INPUT       DROP
:FORWARD     DROP
:OUTPUT      DROP

# Input chain
-A INPUT    -i lo                                     -j ACCEPT
-A INPUT    -p icmp                                   -j ACCEPT
-A INPUT    -m state --state RELATED,ESTABLISHED      -j ACCEPT
-A INPUT    -m state --state NEW,INVALID              -j DROP
# dhcpv6 and icmp
-A INPUT    -p udp -m udp --dport 546                 -j ACCEPT
-A INPUT    -p ipv6-icmp                              -j ACCEPT

# Permit needed ICMP packet types for IPv6 per RFC 4890.
-A INPUT              -p ipv6-icmp --icmpv6-type 1   -j ACCEPT
-A INPUT              -p ipv6-icmp --icmpv6-type 2   -j ACCEPT
-A INPUT              -p ipv6-icmp --icmpv6-type 3   -j ACCEPT
-A INPUT              -p ipv6-icmp --icmpv6-type 4   -j ACCEPT
-A INPUT              -p ipv6-icmp --icmpv6-type 133 -j ACCEPT
-A INPUT              -p ipv6-icmp --icmpv6-type 134 -j ACCEPT
-A INPUT              -p ipv6-icmp --icmpv6-type 135 -j ACCEPT
-A INPUT              -p ipv6-icmp --icmpv6-type 136 -j ACCEPT
-A INPUT              -p ipv6-icmp --icmpv6-type 137 -j ACCEPT
-A INPUT              -p ipv6-icmp --icmpv6-type 141 -j ACCEPT
-A INPUT              -p ipv6-icmp --icmpv6-type 142 -j ACCEPT
-A INPUT -s fe80::/10 -p ipv6-icmp --icmpv6-type 130 -j ACCEPT
-A INPUT -s fe80::/10 -p ipv6-icmp --icmpv6-type 131 -j ACCEPT
-A INPUT -s fe80::/10 -p ipv6-icmp --icmpv6-type 132 -j ACCEPT
-A INPUT -s fe80::/10 -p ipv6-icmp --icmpv6-type 143 -j ACCEPT
-A INPUT              -p ipv6-icmp --icmpv6-type 148 -j ACCEPT
-A INPUT              -p ipv6-icmp --icmpv6-type 149 -j ACCEPT
-A INPUT -s fe80::/10 -p ipv6-icmp --icmpv6-type 151 -j ACCEPT
-A INPUT -s fe80::/10 -p ipv6-icmp --icmpv6-type 152 -j ACCEPT
-A INPUT -s fe80::/10 -p ipv6-icmp --icmpv6-type 153 -j ACCEPT



# Output chain
-A OUTPUT   -o lo                                     -j ACCEPT
-A OUTPUT   -p icmp                                   -j ACCEPT
-A OUTPUT   -p ipv6-icmp                             -j ACCEPT
-A OUTPUT   -m state --state RELATED,ESTABLISHED      -j ACCEPT
-A OUTPUT   -p TCP --dport ssh                        -j ACCEPT
-A OUTPUT   -p TCP --dport http                       -j ACCEPT
-A OUTPUT   -p TCP --dport https                      -j ACCEPT
-A OUTPUT   -p UDP --dport ntp                        -j ACCEPT
-A OUTPUT   -p UDP --dport domain                     -j ACCEPT
-A OUTPUT   -p TCP --dport domain                     -j ACCEPT
-A OUTPUT   -p TCP --dport 631                        -j ACCEPT
# Personal Mailserver config
-A OUTPUT   -p TCP --dport 587                        -j ACCEPT
-A OUTPUT   -p TCP --dport 993                        -j ACCEPT
# Plex Mediaserver
-A OUTPUT   -p TCP --dport 32400                      -j ACCEPT
-A OUTPUT   -p TCP --dport 25271                      -j ACCEPT
-A OUTPUT   -p TCP --dport 8443                       -j ACCEPT

# Logging of droppped packets
-N LOGGING
-A INPUT                                              -j LOGGING
-A OUTPUT                                             -j LOGGING
-A LOGGING -m limit --limit 2/min                     -j LOG --log-prefix "[DROPPED]:" --log-level 4
-A LOGGING                                            -j DROP

COMMIT
